/*
Open DMARC Analyzer - Open Source DMARC Analyzer
templates/openda/index.php
2019 - John Bradley (userjack6880)

Available at: https://github.com/userjack6880/Open-DMARC-Analyzer

This file is part of Open DMARC Analyzer.

Open DMARC Analyzer is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software 
Foundation, either version 3 of the License, or (at your option) any later 
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with 
this program.  If not, see <https://www.gnu.org/licenses/>.
*/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-align: left;
	font-family: Sans-serif;
	background-color: #101118;
	color: #738290;
}

a:link {
	text-decoration: none;
	color: #FFF;
}

a:visited {
	text-decoration: none;
	color: #FFF;
}

a:active {
	text-decoration: none;
	color: #ABB4BC;
}

a:hover {
	text-decoration: none;
	color: #ABB4BC;
}

#header {
	width: 100%;
	margin: 0px auto 0px auto;
	padding: 15px;
	border: none;
	text-align: left;
}

h1.header {
	font-size: 48px;
	color: #738290;
}

#wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 15px;
}

h2 {
	font-size: 24px;
	color: #738290;
	margin: 0 0 10px 0;
}

h3 {
	font-size: 20px;
	color: #738290;
	margin: 10px 0 10px 0;
}

.centered {
	margin: 0px auto 0px auto;
}

table {
	border-collapse: collapse;;
	min-width: 100%;
	margin: 10px 10px 10px 10px;
	text-align: center;
}

table, th, td {
	border: 1px solid #2A3035;
}

th, td {
	padding: 0;
}

td {
	font-size: 12px;
}

/* tr:nth-child(1) { */
thead {
	background-color: #2A3035;
	color: #FFF;
}

#footer {
	width: 100%;
	margin: 0px auto 0px auto;
	padding: 15px;
	font-size: 10px;
}

.perc-bar {
	background-color: #EB5160;
	display: block;
	width: 100%;
	height: 10px;
	position: relative;
}

.gray-per {
	background-color: #8C98A4;
	height: 10px;
	position: absolute;
	left: 0;
}

.green-per {
	background-color: #708D81;
	height: 10px;
	position: absolute;
	left: 0;
}

.perc-text {
	color: #738290;
	width: 100%;
	text-align: center;
	position: relative;
	font-size: 10px;
	height: 20px;
	line-height: 20px;
	display: block;
}

.perc-test > span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
